---
import JavascriptIcon from "../icons/JavascriptIcon.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import GitIcon from "../icons/GitIcon.astro";
import AstroIcon from "../icons/AstroIcon.astro";
import ReactIcon from "../icons/ReactIcon.astro";
import NextIcon from "../icons/NextIcon.astro";
import TailwindIcon from "../icons/TailwindIcon.astro";
import TypescriptIcon from "../icons/TypescriptIcon.astro";
import MarkdownIcon from "../icons/MarkdownIcon.astro";

interface Props {
  w: number;
  h: number;
}

const { w, h } = Astro.props;
---

<li data-name="Javascript"><JavascriptIcon width={w} height={h} /></li>
<li data-name="Github"><GithubIcon width={w} height={h} /></li>
<li data-name="Git"><GitIcon width={w} height={h} /></li>
<li data-name="Astro"><AstroIcon width={w} height={h} /></li>
<li data-name="ReactJs"><ReactIcon width={w} height={h} /></li>
<li data-name="NextJs"><NextIcon width={w} height={h} /></li>
<li data-name="TailwindCss"><TailwindIcon width={w} height={h} /></li>
<li data-name="Typescript"><TypescriptIcon width={w} height={h} /></li>
<li data-name="Markdown"><MarkdownIcon width={w} height={h} /></li>

<style>
  li {
    display: flex;
    color: rgba(230, 57, 70, 1);
  }
  li:hover::before {
    color: white;
    font-weight: 800;
    content: attr(data-name);
    position: absolute;
    transform: translate(-10px, -20px);
  }
</style>
